<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Service Learning - Instructor Log Form</title>
    </head>
    <body>
        <div class="container">
        <!--/*@thymesVar id="activityForm" type="org.example.servicelearningreporting.models.ActivityForm"*/-->
            <form th:object="${activityForm}" method="post">
                <div>
                    <h1>LOG SERVICE LEARNING ACTIVITY</h1>
                    <button>FR</button>
                </div><br>
                <input type="hidden" th:field="*{id}"/>
                <!--Dates-->
                <div>
                    <label>Log Date: </label>
                    <input type="text"
                           th:value="${#temporals.format(activityForm.timestamp, 'yyyy-MM-dd HH:mm')}"
                           readonly>
                </div><br>
                <div>
                    <label>Date of Activity:</label>
                    <input type="date" th:field="*{date}" required>
                    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                </div><br>
                <!--Times-->
                <div>
                    <label>Start Time: </label>
                    <input type="time" th:field="*{startTime}" required>
                    <label>End Time: </label>
                    <input type="time" th:field="*{endTime}" required>
                    <label>Total Hours: </label>
                    <input type="number" th:field="*{totalHours}" min="1" readonly>
                </div><br>
                <!--Istructor Specific-->
                <div>
                    <label>Program of Study: </label>
                    <input type="text">

                    <label>Participant Type: </label>
                    <input type="text">

                    <label>?Amount?: </label>
                    <input type="text">

                    <label>Campus: </label>
                    <input type="text">
                </div><br>
                <!--Org Name-->
                <div>
                    <label>Name of Organization: </label><br>
                    <input type="text" th:field="*{organizationName}" th:readonly="${readOnly}" required>
                </div><br>
                <!--Contact Info-->
                <div>
                    <label>Contact Name</label>
                    <input type="text" th:field="*{contactName}" th:readonly="${readOnly}" required>

                    <label>City</label>
                    <input type="text" th:field="*{city}" th:readonly="${readOnly}" required>

                    <label>Email Address</label>
                    <input type="email" th:field="*{email}" th:readonly="${readOnly}" required>

                    <label>Phone No.</label>
                    <input type="tel" th:field="*{phone}" th:readonly="${readOnly}" required>
                </div><br>
                <!--Picture-->
                <div>
                    <label>Upload Picture </label>
                    <button>+</button>
                </div><br>
                <!--Description-->
                <div>
                    <label>Activity Description</label><br>
                    <textarea th:field="*{activityDescription}" th:readonly="${readOnly}" required></textarea>
                </div><br>
                <!--Donations/Submit-->
                <div>
                    <label>Donations (Cash): </label>
                    <input type="number" step="0.01" th:field="*{donations}" min="0" th:readonly="${readOnly}">

                    <button>SUBMIT</button>
                </div><br>
            </form>
        </div>
    </body>
</html>